@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Small Desktop */

@media screen and (min-width: 900px) and (max-width: 1024px) {
  .header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 2rem 1%;
    background: var(--box-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.5s ease;
  }

  /* icon menu */

  #menu-icon {
    font-size: 4rem;
    color: var(--text-color);
    display: none;
  }

  /* menu */

  .navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transform: scale(1);
    transition: 0.5s ease;
  }

  /* hover navbar */

  .navbar a:hover,
  .navbar a.active {
    color: var(--main-color);
    transition: 0.5s ease;
    transform: scale(1.2);
    filter: drop-shadow(0px 1px 5px var(--main-color));
  }

  /* active me */

  .navbar.active {
    display: none;
    transform: translateX(0%);
  }

  /* Body */

  /* html all */

  html {
    font-size: 65.5%;
    overflow-x: hidden;
  }

  /* body all */

  body {
    background: var(--bg-color);
    color: var(--text-color);
    transition: 0.5s ease;
  }

   /* สำหรับ Chrome, Edge, และ Safari */
  body::-webkit-scrollbar {
    display: none;
  }

  /* ป้องกัน overflow */
  body {
    overflow-y: scroll; /* ยังสามารถ scroll ได้แต่ไม่แสดง scrollbar */
  }

  /* span all */

  span {
    color: var(--main-color);
    transition: 0.5s ease;
  }

  /* section all */

  section {
    min-height: 100vh;
    padding: 5rem 15%;
  }

  /* About Me */
  .about {
    display: flex; /* เปลี่ยนจาก contents เป็น flex */
    justify-content: center;
    align-items: center;
    gap: 15rem;
    transition: 0.5s ease;
    background-color: var(--about-color);
    height: 70vh; /* เพิ่มความสูงเพื่อให้จัดกลางแนวตั้งได้ */
  }

  /* about image */
  .about .about-img {
    width: 200px;
    scale: 4.4;

    filter: drop-shadow(0px 1px 2px var(--main-color));
    transition: transform 2s ease-in-out;
    display: flex;
    justify-content: center; /* จัดภาพให้กลางแนวนอนภายใน */
    align-items: center; /* จัดภาพให้กลางแนวตั้งภายใน */
  }

  /* One text about me */

  .about .about-content h2 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 5rem;
    margin: 1rem;
  }

  /* One text about me span */

  .about .about-content h2 span {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 5rem;
    margin: 1rem;
  }

  /* Two text about me */

  .about .about-content h3 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 2.3rem;
  }

  /* Three text about me */

  .about .about-content p {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    margin: 2rem 1%;
    font-size: 1.5rem;
  }

  /* Frame one */

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 9%;
    flex-direction: column;
  }

  /* Navbar text */

  .fixed-top .header .logo {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 3rem;
  }

  /* frame one image */

  .home .home-img{
    position: sticky;
    margin-top: 4rem;
    width: 280px;
    left: 180px;
   
    filter: drop-shadow(0px 1px 5px var(--main-color));
    transition: transform 2s ease-in-out;
  }

   .home .home-img img {
      width: 80%;
      margin: 2rem;
      animation: floatImage1 8s ease-in-out infinite;
   }

  /* frame one 2 tap */

  .home .home-content h3:nth-of-type(2) {
    margin-bottom: 3rem;
  }

  /* Two text to frame one */

  .home .home-content h1 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 2.8rem;
  }

  /* Three text to frame one */

  .home .home-content h2 {
    font-family: "Orbitron", sans-serif;
    font-size: 1.7rem;

    font-optical-sizing: auto;
  }

  /* One text to frame one */

  .home .home-content h3 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    margin-top: 10%;
    font-size: 4rem;
  }

  /* One text to frame one span*/

  .home-content h3 span {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 4rem;
  }

  /* icon to frame one */

  .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    transition: 0.5s ease;
    margin: 3rem 1.5rem 3rem 0;
    /* text-shadow: 
        0 0 2.5rem var(--main-color),
        0 0 4rem var(--main-color),
        0 0 5.5rem var(--main-color),
        0 0 6rem var(--main-color),
        0 0 9.5rem var(--main-color);
        */
    transition: 0.7s ease;
    transform: scale(1) rotate(-360deg);
  }

  /* icon animation in  Frame one */
  .social-media a .T1 {
    transition: 0.7s ease;
    transform: scale(1) rotate(-360deg);
  }

  .social-media a:hover .T1 {
    transition: 0.7s ease;
    transform: scale(1.8) rotate(360deg);
  }

  .social-media a .T2 {
    transition: 0.7s ease;
    transform: scale(1) rotate(360deg);
  }

  .social-media a:hover .T2 {
    transition: 0.7s ease;
    transform: scale(1.8) rotate(-360deg);
  }

  .social-media a .T3 {
    transition: 0.7s ease;
    transform: scale(1) rotate(-360deg);
  }

  .social-media a:hover .T3 {
    transition: 0.7s ease;
    transform: scale(1.8) rotate(360deg);
  }

  .social-media a .T4 {
    transition: 0.7s ease;
    transform: scale(1) rotate(-360deg);
  }

  .social-media a:hover .T4 {
    transition: 0.7s ease;
    transform: scale(1.8) rotate(360deg);
  }

  .social-media a .T5 {
    transition: 0.7s ease;
    transform: scale(1) rotate(-360deg);
  }

  .social-media a:hover .T5 {
    transition: 0.7s ease;
    transform: scale(1.8) rotate(360deg);
  }

  .social-media a .T6 {
    transition: 0.7s ease;
    transform: scale(1) rotate(-360deg);
  }

  .social-media a:hover .T6 {
    transition: 0.7s ease;
    transform: scale(1.8) rotate(360deg);
  }

  /* icon to frame one span */

  .social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
  }

  /* Certificate */

  /* Tap to Certificate */

  .services h2 {
    margin-bottom: 2rem;
  }

  /* Certificate boarder  */

  .services .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 2rem;
  }

  /* Text to Certificate */

  .services .heading {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 5rem;
  }

  /* Text to Certificate span */

  .services .heading span {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 5rem;
  }

  /* inside to Certificate */

  .services-box i {
    font-size: 6rem;
    color: var(--main-color);
    transition: 0.5s ease;
  }

  /* boarder inside to Certificate */

  .services-container .services-box {
    flex: 0.3 2 30rem;
    background: var(--box-theme-color);
    padding: 2rem 2rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
    box-shadow: 0 0 1rem var(--main-color);
  }

  /* boarder inside to Certificate hover*/

  .services-container .services-box:hover {
    border-color: var(--main-color);
  }

  /* One Text boarder inside to Certificate */

  .services .services-container .services-box h3 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 3rem;
  }

  /* Three Text boarder inside to Certificate */

  .services .services-container .services-box p {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-size: 1.8rem;
    margin: 0.8rem 0 1rem;
  }

  /* Button boarder inside to Certificate */

  .services .services-container .services-box button {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-size: 2rem;
  }

  /* My Skills */

  /* One text to Myskill */

  .heading {
    font-family: "Orbitron", sans-serif;
    text-align: center;
    font-size: 5rem;
    transition: 0.5 ease;
  }

  /* One text to Myskill span */

  .heading span {
    font-family: "Orbitron", sans-serif;
    text-align: center;
    font-size: 5rem;
    transition: 0.5 ease;
  }

  /* Two text to Myskill */

  .Technical-bar h2 {
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
  }

  /* Two text to Myskill span */

  .Technical-bar h2 span {
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
  }

  /* frame color to body */

  .container1 {
    background-color: var(--about-color);
    padding: 10%;
    transition: 0.5s ease;
  }

  /* Three text to Myskill */

  .heading1 {
    font-family: "Source Code Pro", monospace;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    margin-bottom: 50px;
    font-size: 20px;
    padding-top: 2rem;
    transition: 0.5s ease;
  }

  /* bar to Myskill */

  .bar {
    font-size: 25px;
  }

  .tec-skill {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  /* Card */
  .tec-skill .side {
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }

  .tec-skill .side i {
    font-size: 50px;
  }
.side .hid-name-html,
  .side .hid-name-css,
  .side .hid-name-js,
  .side .hid-name-react,
  .side .hid-name-java,
  .side .hid-name-python,
  .side .hid-name-cc,
  .side .hid-name-go,
  .side .hid-name-postgres,
  .side .hid-name-mysql,
  .side .hid-name-postman,
  .side .hid-name-docker,
  .side .hid-name-bootstap,
  .side .hid-name-tailwind,
  .side .hid-name-netlify,
  .side .hid-name-nextjs,
  .side .hid-name-php,
  .side .hid-name-gitlab,
  .side .hid-name-lua, 
  .side .hid-name-mongo {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--popup-color-bg);
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, bottom 0.3s ease;
  }

  /* แสดง tooltip เมื่อ hover */
  .side:hover .hid-name-html,
  .side:hover .hid-name-css,
  .side:hover .hid-name-js,
  .side:hover .hid-name-react,
  .side:hover .hid-name-java,
  .side:hover .hid-name-python,
  .side:hover .hid-name-cc,
  .side:hover .hid-name-go,
  .side:hover .hid-name-postgres,
  .side:hover .hid-name-mysql,
  .side:hover .hid-name-postman,
  .side:hover .hid-name-docker,
  .side:hover .hid-name-bootstap,
  .side:hover .hid-name-tailwind,
  .side:hover .hid-name-netlify,
  .side:hover .hid-name-nextjs,
  .side:hover .hid-name-php,
  .side:hover .hid-name-gitlab,
  .side:hover .hid-name-mongo ,
  .side:hover .hid-name-lua {
    opacity: 1;

    bottom: 53px;
  }

  /* bar distance to Myskill */

  .Technical-bar .bar {
    margin-top: 40px 0;
  }

  /* animation bar 1 */

  .Technical-bar .bar:first-child {
    margin-top: 0px;
  }

  /* animation bar 3 */

  .Technical-bar .bar:last-child {
    margin-bottom: 0px;
  }

  /* animation  text 4  */

  .Technical-bar .bar .indfo {
    margin-bottom: 5px;
  }

  /* animation  text 5 */

  .Technical-bar .bar .indfo span {
    font-family: "Source Code Pro", monospace;
    font-size: 25px;
    font-weight: 500px;
    animation: showText 0.5s 1s linear forwards;
    color: var(--text-color);
    opacity: 0;
  }

  /* boarder inside My Skill  */

  .Technical-bar .bar .progress-line1 {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: var(--bg1-color);
    animation: animation 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
  }

  /* inside radial-bars to Myskill  */

  .Technical-bar .radial-bars .radial-bar {
    font-size: 0.8rem;
  }

  /* inside bars span to Myskill  */

  .Technical-bar .bar .progress-line1 span {
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 10px;
    animation: animation 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(1);
    transform-origin: left;
    transition: 0.5s ease;
  }

  /* radial-bars text to Myskill  */

  .Technical-bar .radial-bars .radial-bar .text {
    font-family: "Source Code Pro", monospace;
    font-size: 20px;
  }

  /* count bar after span to Myskill  */

  .progress-line1 span::after {
    position: absolute;
    padding: 0.3px 8px;
    background-color: var(--bg1-color);
    color: var(--main-color);
    font-size: 15px;
    border-radius: 3px;
    top: -30px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
    transition: 0.5s ease;
  }

  /* count bar to Myskill  */

  .progress-line1.html span {
    width: 90%;
  }

  /* count bar to Myskill  */

  .progress-line1.css span {
    width: 90%;
  }

  /* count bar to Myskill  */

  .progress-line1.javascript span {
    width: 80%;
  }

  .progress-line1.react span {
    width: 90%;
  }

  /* count bar to Myskill  */

  .progress-line1.java span {
    width: 78%;
  }

  /* count bar  to Myskill  */

  .progress-line1.python span {
    width: 60%;
  }

  /* count bar  to Myskill  */

  .progress-line1.c span {
    width: 81%;
  }

  /* count bar  to Myskill  */

  .progress-line1.go span {
    width: 50%;
  }

  /* count bar  to Myskill  */

  .progress-line1.post span {
    width: 90%;
  }

  /* popup text to Myskill  */

  .progress-line1.mySQL span {
    width: 90%;
  }

  /* popup text to Myskill  */

  .progress-line1.postM span {
    width: 90%;
  }

  /* popup text to Myskill  */

  .progress-line1.Dock span {
    width: 90%;
  }

  /* popup text to Myskill  */

  .progress-line1.Boot span {
    width: 100%;
  }

  /* popup text to Myskill  */

  .progress-line1.Tail span {
    width: 100%;
  }

  /* popup text to Myskill  word */

  .progress-line1.word span {
    width: 98%;
  }

  /* popup text to Myskill  excel */

  .progress-line1.excel span {
    width: 98%;
  }

  /* popup text to Myskill  powerp */

  .progress-line1.powerp span {
    width: 98%;
  }

  /* popup text to Myskill  powerb */

  .progress-line1.powerb span {
    width: 100%;
  }

  /* popup text to Myskill  Th */

  .progress-line1.TH span {
    width: 100%;
  }

  /* popup text to Myskill Eng */

  .progress-line1.Eng span {
    width: 50%;
  }

  /* popup text to Myskill  */

  .progress-line1.html span::after {
    content: "90%";
  }

  /* popup text to Myskill  */

  .progress-line1.css span::after {
    content: "90%";
  }

  /* popup text to Myskill  */

  .progress-line1.javascript span::after {
    content: "80%";
  }

  /* popup text to Myskill  */

  .progress-line1.react span::after {
    content: "90%";
  }

  /* popup text to Myskill  */

  .progress-line1.java span::after {
    content: "78%";
  }

  /* popup text to Myskill  */

  .progress-line1.python span::after {
    content: "60%";
  }

  /* popup text to Myskill  */

  .progress-line1.c span::after {
    content: "81%";
  }

  /* popup text to Myskill  */

  .progress-line1.go span::after {
    content: "50%";
  }

  /* popup text to Myskill  */

  .progress-line1.post span::after {
    content: "90%";
  }

  /* popup text to Myskill  */

  .progress-line1.mySQL span::after {
    content: "90%";
  }

  /* popup text to Myskill  */

  .progress-line1.postM span::after {
    content: "90%";
  }

  /* popup text to Myskill  */

  .progress-line1.Dock span::after {
    content: "90%";
  }

  /* popup text to Myskill  */

  .progress-line1.Boot span::after {
    content: "100%";
  }

  /* popup text to Myskill  */

  .progress-line1.Tail span::after {
    content: "100%";
  }

  /* popup text to Myskill  word */

  .progress-line1.word span::after {
    content: "98%";
  }

  /* popup text to Myskill  excel */

  .progress-line1.excel span::after {
    content: "97%";
  }

  /* popup text to Myskill  powerp */

  .progress-line1.powerp span::after {
    content: "98%";
  }

  /* popup text to Myskill  powerb */

  .progress-line1.powerb span::after {
    content: "100%";
  }

  /* popup text to Myskill  Th */

  .progress-line1.TH span::after {
    content: "100%";
  }

  /* popup text to Myskill Eng */

  .progress-line1.Eng span::after {
    content: "50%";
  }

  /* popup text to Myskill Eng */

  .progress-line1.Eng span::after {
    content: "50%";
  }

  /* popup text to Myskill  */

  .progress-line1 span::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: var(--main-color);
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
    transition: 0.5s ease;
  }

  /* radial-bars to Myskill  */

  .radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  /* radial-bar to Myskill  */

  .radial-bars .radial-bar {
    width: 50%;
    height: 190px;
    margin-bottom: 2px;
    position: relative;
  }

  /* radial-bar svg to Myskill  */

  .radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 160px;
    height: 160px;
  }

  .radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stroke: var(--second-bg-color);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animation-bar 1s linear forwards;
  }

  /* path in My skill  */

  .path {
    stroke-width: 10px;
    stroke: var(--main-color);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    transition: 0.5s ease;
  }

  /* ANIMATION in My skill  */

  .path-1 {
    animation: animate-path1 0.8s 1s linear forwards;
  }

  /* ANIMATION in My skill  */

  .path-2 {
    animation: animate-path2 0.8s 1s linear forwards;
  }

  /* ANIMATION in My skill  */

  .path-3 {
    animation: animate-path3 0.8s 1s linear forwards;
  }

  /* ANIMATION in My skill  */

  .path-4 {
    animation: animate-path4 0.8s 1s linear forwards;
  }

  /* percentage in My skill  */

  .radial-bars .radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 500;
    animation: showText 1s 2s 0.7 linear forwards;
    opacity: 0;
  }

  /* progress-bar text in My skill  */

  .radial-bar .progress-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    font-size: 17px;
    animation: showText 0.5s linear forwards;
    opacity: 0;
  }

  /* Projects span in Project */

  .projects span {
    font-family: "Orbitron", sans-serif;
    margin-bottom: 4rem;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  /* boarder border in Project */

  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    align-items: center;
    gap: 2rem;
  }

  /* box radius in Project */

  .portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--main-color);
    overflow: hidden;
    display: flex;
  }

  /* image in Project */

  .portfolio-box img {
    width: 100%;
    transform: translateX(0);
    transition: 0.9s ease;
  }

  /* image hover in Project */

  .portfolio-box:hover img {
    width: 100%;
    transform: translateX(200%);
    transition: 0.9s ease;
  }

  /* box animation  in Project */

  .portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0.2px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(200%);
    transition: 0.9s ease;
  }

  /* hover animation  in Project */

  .portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
  }

  /* background hover in Project */

  .portfolio-box:hover {
    background-color: var(--box-theme-color);
  }

  /* One text in Project */

  .portfolio-box .portfolio-layer h4 {
    font-family: "Orbitron", sans-serif;
    font-size: 2.5rem;
  }

  /* Two text in Project */

  .portfolio-box .portfolio-layer p {
    font-family: "Source Code Pro", monospace;
    font-size: 1.2rem;
  }

  /*button link in Project */

  .portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: var(--text-color);
    border-radius: 50%;
    transition: 0.8s ease;
    transform: scale(1);
    margin: 1rem;
  }

  .portfolio-layer a:hover {
    transition: 0.8s ease;
    transform: scale(1.1) rotate(-360deg);
    box-shadow: 0rem 0px 1rem 2px var(--text-color);
  }

  /*text icon in Project */

  .portfolio-layer a i {
    font-size: 2.3rem;
    color: var(--second-bg-color);
  }

  /* Contact */

  /* body in contact */
  .contact {
    background-color: var(--about-color);
    transition: 0.5s ease;
  }

  /* One text in contact */

  .contact h2 {
    font-family: "Orbitron", sans-serif;
    margin-bottom: 4rem;
    font-size: 5rem;
  }

  /* from in contact */

  .contact form {
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
  }

  /* animation 1 in contact */

  .btn1 {
    font-family: "Source Code Pro", monospace;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--main-color);
    font-size: 1.7rem;
    color: var(--text-color);
    letter-spacing: 0.2rem;
    font-weight: 600;
    transition: 0.5s ease;
  }

  /* animaton 1 before / after in Certificate */

  .btn1:hover::before,
  .btn1:hover::after {
    transform: scale(1.2);
    transition: 0.8s ease;
  }

  /* animation 1 hover  in Certificate */

  .btn1:hover {
    transition: 0.8s ease;
    box-shadow: inset 0px 0px 15px var(--main-color),
      0 0 1.2rem var(--main-color);
    transform: scale(1.1);
    border: 1px solid var(--main-color);
  }

  /* animation 2 in Certificate */

  .btn11 {
    font-family: "Source Code Pro", monospace;
    display: inline-block;
    padding: 0.7rem 1.1rem;
    border-radius: 1rem;

    box-shadow: 0 0 10px var(--main-color);
    font-size: 1rem;
    color: var(--text-color);
    letter-spacing: 0.2rem;
    font-weight: 600;
    transition: 0.5s ease;
  }

  /* 
    .btn11:hover {
       
        box-shadow: 0px 0px 1px rgb(163, 255, 151) inset,
    0px 0px 2px rgb(167, 255, 151) inset, 0px 0px 10px rgb(170, 255, 151) inset,
    0px 0px 40px rgb(168, 255, 151), 0px 0px 100px rgb(161, 255, 151),
    0px 0px 5px rgb(154, 255, 151);
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(156, 184, 146);
    

    }

    */

  /*animation 2 before / after in contact */

  .services-box button:hover::before,
  .services-box button:hover::after {
    transform: scale(1.2);
    transition: 0.8s ease;
  }

  /* animation 2 hover in contact */

  .services-box button:hover {
    transition: 0.8s ease;
    box-shadow: inset 0px 0px 15px var(--main-color),
      0 0 1.2rem var(--main-color);
    transform: scale(1.1);
    border: 1px solid var(--main-color);
  }

  /*body input in contact */

  form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  /* inside body input 1 in contact */

  .input-box .input-field {
    width: 48.5%;
  }

  /* inside body  input 2 in contact  */

  .input-box .input-field1 {
    width: 48.5%;
  }

  /* inside item in contact  */

  .field .item {
    width: 100%;
    padding: 17px;
    background: transparent;
    border: 2px solid var(--box-color);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: var(--text-color);
    margin: 12px 0;
  }

  /* font  in contact  */

  .field .item::placeholder {
    font-family: "Source Code Pro", monospace;
    color: var(--text-color);
  }

  /* background inside input  in contact  */

  form .textarea-field .item,
  .contact form .input-box input {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
  }

  /* width   in contact  */

  .contact form .input-box input {
    width: 100%;
  }

  /* message in contact  */

  .contact form textarea {
    resize: none;
    cursor: pointer;
  }

  /*  error 1 in contact  */
  /*  error 1 in contact  */

  .field1 .error-txt {
    font-family: "Source Code Pro", monospace;
    font-size: 11px;
    color: var(--main-color);
    text-align: right;
    margin: -1px 0 10px;
    transition: 0.5s ease;
    display: none;
  }

  .field2 .error-txt {
    font-family: "Source Code Pro", monospace;
    font-size: 11px;
    color: var(--main-color);
    text-align: right;
    margin: -1px 0 10px;
    transition: 0.5s ease;
    display: none;
  }

  .field3 .error-txt {
    font-family: "Source Code Pro", monospace;
    font-size: 11px;
    color: var(--main-color);
    text-align: right;
    margin: -1px 0 10px;
    transition: 0.5s ease;
    display: none;
  }

  /* color error 1 in contact  */

  .field1 .item {
    border-color: rgb(247, 55, 55);
    transition: 0.2s ease;
  }

  .field2 .item {
    border-color: rgb(247, 55, 55);
    transition: 0.2s ease;
  }

  .field3 .item {
    border-color: rgb(247, 55, 55);
    transition: 0.2s ease;
  }

  /* text error 1 in contact  */
  .field1 .error-txt {
    transition: 0.5 ease;
    display: none;
  }

  .field2 .error-txt {
    transition: 0.5 ease;
    display: none;
  }

  .field3 .error-txt {
    transition: 0.5 ease;
    display: none;
  }

  /* Footer */

  /* body in footer  */

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--box-color);
  }

  /* text in footer  */

  .footer p {
    font-family: "Source Code Pro", monospace;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
  }

  /* icon link in footer  */

  .footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;
  }

  /* hover icon in footer  */

  .footer-iconTop a:hover {
    box-shadow: 0 0 2rem var(--main-color);
  }

  /* icon in footer  */

  .footer-iconTop a i {
    font-size: 2.1rem;
    color: var(--second-bg-color);
  }

  /* Key frame to one */
   @keyframes floatImage1 {
    0% {
      transform: translateX(0.9%) scale(0.01);
    }

    25% {
      transform: translateY(-0.9%) scale(0.9);
    }

    50% {
      transform: translateY(5%) scale(0.9);
    }

    75% {
      transform: translateY(-0.9%) scale(0.9);
    }

    100% {
      transform: translateX(-0.9%) scale(0.01);
    }
  }

}
