@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* แนวตั้ง */

@media screen and (device-width: 411px) and (device-height: 823px) and (orientation: portrait)  {
      * {
    outline: none !important;
  }

  .dark {
    min-height: 100vh;
    min-width: 100%;
    border: none;
    background: linear-gradient(
      144deg,
      var(--popup-color-bg),
      var(--theme-mode)
    );
    outline: none !important;
  }

  /* ------------------------------
     Header
  ------------------------------ */
  .text-mess {
    display: none;
  }

    /* Menu Icon */
  #menu-icon {
    font-size: 4rem;
    color: var(--text-color);
    display: none;
  }

  /* ------------------------------
     Base HTML & Body
  ------------------------------ */

  html,
  body {
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    min-width: 100%;
    background-clip: border-box;
    border: none;

    font-size: 120%;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--text-color);
    background: linear-gradient(144deg, var(--theme-mode), var(--theme-mode));
    transition: background 0.5s ease, color 0.5s ease;
  }

   span {
    color: var(--text-color);
    transition: color 0.5s ease;
  }

  
  section {
    min-height: 120vh; /* ปรับให้รองรับทุก browser */
  }

   /* ------------------------------
     Home Section
  ------------------------------ */
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 4rem 3%; /* ลด padding ลงจากเดิม 44rem เพราะมันใหญ่มากเกิน */
    min-height: 100vh; /* ให้เต็มจอแนวตั้ง */
  }

    .home .search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
  }

   .home .search h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--text-color);
  }

    .home .search h1 span {
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
    margin-bottom: 0.3rem;
    color: var(--main-color);
  }

  
    .home .search span.animate__animated {
    display: inline-block;
  }

    .home .search h2 {
    font-family: "Orbitron", sans-serif;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: var(--text-color);
  }

  .form {
    position: relative;
    display: inline-block;
  }

   .form .board-body {
    background: linear-gradient(136deg, var(--theme-mode), var(--box-color));
    padding-left: 40px;
    font-size: 25px;
    height: 20px;
    width: 90vw;
    max-width: 700px;
    padding: 2rem;
    border-radius: 10px;
    /* 🔥 ลบเส้นขาวออก */
    border: none !important;
    outline: none !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    color: var(--text-color);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

    .form span {
    position: absolute;
    left: -55px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--text-color);
    font-size: 35px;
  }

  .form span i {
    scale: 1.2;
  }

  .form button {
    margin-left: 10px;
    right: -50px;
    border: none;
     padding: 20px 20px;
    border-radius: 50%;
    background: linear-gradient(136deg, var(--theme-mode), var(--box-color));
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3),
      inset 0 0 20px rgba(255, 255, 255, 0.2);
  }

   .form button i {
    scale: 1.2;
    position: relative;
    display: block;
    align-items: center;
   }

  /* เอฟเฟกต์น้ำไหลเวลา hover */
  .form button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 255, 255, 0.6),
      transparent
    );
    transform: skewX(-20deg);
  }

  /* ทำให้แสงวิ่ง */
  .form button:hover::before {
    animation: shine 1s ease forwards;
  }

  /* เปลี่ยนโทนตอน hover */
  .form button:hover {
    background: linear-gradient(136deg, var(--theme-mode), var(--box-color));
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5),
      inset 0 0 25px rgba(255, 255, 255, 0.3);
    transform: translateY(-2px);
  }
  /* --------------------------------- */
  .board-app {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    font-size: 1rem;
    margin-bottom: 2rem;
    color: var(--text-color);
  }


   .index-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 5 columns */
    gap: 10px;
  }

  .scroll-container {
    width: 100%;
  }

    .card {
    margin-top: 1%;
    position: relative;
    width: 300px;
    height: 300px;
    background: linear-gradient(
      136deg,
      var(--theme-mode),
      var(--box-color) 100%
    );
    border: none !important;
    box-shadow: none !important;
    border-radius: 15px;  
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

     .card img {
    transform: scale(2);
    transition: transform 0.3s ease; /* ให้มันซูมลื่น ๆ */
  }

    .card .link_des {
    color: rgb(20, 34, 144);
    cursor: pointer;
    transition: color 0.3s ease;
  }

    .card .link_des:hover {
    color: rgb(80, 157, 220);
    text-decoration: underline;
  }

  .card:hover {
    transform: scale(1);
    box-shadow: 0 5px 50px rgba(255, 255, 255, 0.2);
  }

    .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.455);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    /* 🔥 ลบเส้นขาวออก */
    border: none !important;
    outline: none !important;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

    .card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }

  .card__title {
    margin: 0;
    font-weight: bold;
    font-size: 28px;
    color: #333;
    font-weight: 700;
  }

   .card__description {
    margin: 10px 0 0;
    font-size: 22px;
    color: #343434;
    line-height: 1.2;
  }

  .card__description i {
    font-size: 19px;
  }

  /* ------------------------------
     Footer
  ------------------------------ */

  .footer {
    position: relative;
    background: linear-gradient(136deg, var(--theme-mode), var(--box-color));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    height: 180px;
    width: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    z-index: 200;
    transition: 0.5s ease;
  }
 
      .footer p {
    font-family: "Source Code Pro", monospace;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 0.4rem;
  }

  /* Footer Icon Links */
  .footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: rgba(255, 255, 255, 0.245);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0.8rem;

    transition: box-shadow 0.5s ease;
  }

    .footer-iconTop a:hover {
    box-shadow: 0 0 2rem var(--main-color);
  }

    .footer-iconTop a i {
    font-size: 2.1rem;
    color: var(--text-color);
  }

  .footer .logo {
    filter: drop-shadow(0px 1px 5px rgba(255, 255, 255, 0.185));
    animation: logo 4s linear infinite;
  }

  .logo img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
  }

    /* ------------------------------
     Animation loade
  ------------------------------ */
  .load_er {
    margin-right: -410px;
    width: 600px;
  }

  @keyframes logo {
    100% {
      transform: rotateY(360deg);
    }
  }
 

     /* ------------------------------
    Board Filter
  ------------------------------ */
  .board-center {
    display: flex;
    justify-content: center;  
    margin-bottom: -250px;
    margin-top: 3%;
    position: relative; 
    width: 700px;
    height: 400px;
    box-sizing: border-box;
    background: rgba(110, 110, 110, 0.13);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none !important;
    box-shadow: none !important;
    border-radius:  55px;
    gap: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
     z-index: 1000;
  }

  .board-position{
    display: flex;
    justify-content: center;
  }

  .board-filter {
    margin-top: 15px;
  }


  .board-filter h1 {
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
    color: var(--text-color);
  }

  .board-filter h1 span.animate__animated {
    display: inline-block;
  }

  .board-flexbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

  .show-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5 columns */
    gap: 20px;
  }

  /* From Uiverse.io by Darlley */ 
.checkbox-wrapper-16 *,
  .checkbox-wrapper-16 *:after,
  .checkbox-wrapper-16 *:before {
  box-sizing: border-box;
}

.checkbox-wrapper-16 .checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile {
  border-color: var(--main-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   border: 2px solid var(--main-color);
  color: var(--main-color);
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: var(--text-from);
  
  content: "✓";
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-icon,
  .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: var(--text-color);
  
}


.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  min-height: 7rem;
  border-radius: 0.5rem;
  
  background: linear-gradient(136deg, var(--theme-mode), var(--box-color));
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.checkbox-wrapper-16 .checkbox-tile:before {
  content: "";
  font-size: 12px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.55rem;
  height: 1.55rem;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.checkbox-wrapper-16 .checkbox-tile:hover {
  border-color: var(--main-color);
}

.checkbox-wrapper-16 .checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-icon {
  transition: 0.375s ease;
  color: var(--text-color);
}

.checkbox-wrapper-16 .checkbox-icon i {
   scale: 1.2;
  color: var(--text-color);
}

.checkbox-wrapper-16 .checkbox-label {
  color: var(--text-color);
  transition: 0.375s ease;
  text-align: center;
  font-size: smaller;
  margin-top: 5px;
}

/* ------------------------
  Button Reset
------------------------ */
.button-reset {
  display: flex;
  justify-content: end;
  
}

.button-reset button {
  background-color: var(--theme-mode);
  font-size: x-large;
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--text-color);
  transition: 0.2s ease;
}

.button-reset button:hover {
  color: rgb(255, 136, 136);
}


}