@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #202021;
    --second-bg-color: #1c1d1f;
    --text-color: #fff;
    --box-theme-color: #434343;
    --main-color: #53e029;
    --sky-color: #0ef;
    --pink-color: #ff1cc6;
    --green-color: #53e029;
    --orange-color: #fe7221;
    --red-color: #f9183a;
    --box-color: #232a2e;
    --about-color: #222324;
    --icon-color: white;
    --bg1-color: #181818;
    transition: .5s ease;

}

.icon-light {
    color: #ffffff;
}

.icon-dark {
    color: #000000;
}


body.white {
    --text-color: #000000;
    --bg-color: rgb(255, 255, 255);
    --second-bg-color: #f0f0f0;
    --box-color: rgb(255, 255, 255);
    --about-color: #f5f5f5;
    --box-theme-color: hsl(0, 0%, 100%);
    --icon-color: black;

    --bg1-color: #838383; 
    
    transition: .5s ease;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;

}

body {
    background: var(--bg-color);
    color: var(--text-color);
    transition: .5s ease;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .5s ease;
    
}


.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 3.5rem;
    color: var(--z-color);
    font-weight: 600;
    cursor: default;
    transition: .5s ease;
    
}


.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .5s ease;

}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 9%;
}

.home-img img {
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}


.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
    transition: .5s ease;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    transition: .5s ease;
    margin: 3rem 1.5rem 3rem 0;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    background: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: .5s ease;
    background-color: var(--about-color);
}

.about-img img {
    width: 25vw;
}

.about-content h3 {
    font-size: 5.4rem;
    font-weight: 600;
    line-height: 1.3;
}

.about-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.about-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    transition: .5 ease;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.services h2 {
    margin-bottom: 2rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 0.3 2 30rem;
    background: var(--box-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: .5s ease;
    box-shadow: 0 0 1rem var(--main-color);
}

.services-container .services-box:hover {
    border-color: var(--main-color);
}

.services-box i {
    font-size: 6rem;
    color: var(--main-color);
    transition: .5s ease;
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box .heading {
    margin: 5rem;

}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.container1 {
    background-color: var(--about-color);
    padding: 10%;
    transition: .5s ease;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    margin-bottom: 50px;
    font-size: 20px;
    padding-top: 2rem;
    transition: .5s ease;
}

.new-heading {
    margin-right: auto;
}

.bar {
    font-size: 23px
}

.Technical-bar .bar {
    margin-top: 40px 0;
}

.Technical-bar .bar .indfo span {
    color: var(--text-color);
}

.Technical-bar .bar:first-child {
    margin-top: 0px;
}

.Technical-bar .bar:last-child {
    margin-bottom: 0px;
}

.Technical-bar .bar .info {
    margin-bottom: 5px;

}

.Technical-bar .bar .info span {
    font-size: 18px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bar .bar .progress-line1 {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: var(--bg1-color);
    animation: animation 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animation {
    100% {
        transform: scaleX(1);
    }

}

.Technical-bar .bar .progress-line1 span {
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 10px;
    animation: animation 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(1);
    transform-origin: left;
    transition: 0.5s ease;
}

.progress-line1.html span {
    width: 80%;
}

.progress-line1.css span {
    width: 80%;
}

.progress-line1.javascript span {
    width: 60%;
}

.progress-line1.java span {
    width: 100%;
}

.progress-line1.python span {
    width: 50%;
}

.progress-line1.c span {
    width: 90%;
}

.progress-line1.post span {
    width: 100%;
}

.progress-line1 span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: var(--bg1-color);
    color: var(--main-color);
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
    transition: 0.5s ease;
}

.progress-line1.html span::after {
    content: "80%";
}

.progress-line1.css span::after {
    content: "80%";
}

.progress-line1.javascript span::after {
    content: "60%";
}

.progress-line1.java span::after {
    content: "100%";
}

.progress-line1.python span::after {
    content: "50%";
}

.progress-line1.c span::after {
    content: "90%";
}

.progress-line1.post span::after {
    content: "100%";
}

.progress-line1 span::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: var(--main-color);
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
    transition: 0.5s ease;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animation-bar 1s linear forwards;
}

.radial-bars .radial-bar .text {
    font-size: 20px;
}

@keyframes animation-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10px;
    stroke: var(--main-color);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    transition: 0.5s ease;
}

.path-1 {
    animation: animate-path1 0.8s 1s linear forwards;
}

.path-2 {
    animation: animate-path2 0.8s 1s linear forwards;
}

.path-3 {
    animation: animate-path3 0.8s 1s linear forwards;
}

.path-4 {
    animation: animate-path4 0.8s 1s linear forwards;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 0;

    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 20;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 20;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 10;
    }
}

.radial-bars .radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 1s 2s 0.7 linear forwards;
    opacity: 0;
}

.radial-bar .progress-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    font-size: 17px;
    animation: showText 0.5s linear forwards;
    opacity: 0;
}



.projects {
    background-color: var(--bg-color);
    transition: .5s ease;
}

.projects h2 {
    margin-bottom: 4rem;
    font-size: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--main-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(200%);
    transition: .2s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}


.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;

}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact {
    background-color: var(--about-color);
    transition: .5s ease;
}

.contact form {
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box .input-field{
    width: 48.5%;
}

.field .item{
    width: 100%;
    padding: 18px;
    background:transparent;
    border: 2px solid var(--box-color);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: var(--text-color);
    margin: 12px 0;
}

.field .item::placeholder{
    color: var(--text-color);
}

form .textarea-field .item , .contact form .input-box input{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box  input {
    width: 100%;
}

.contact form textarea {
    resize: none;
    cursor: pointer;
}

.field .error-txt{
    font-size: 10.5px;
    color: var(--main-color);
    text-align: right;
    margin: -1px 0 10px;
    transition: .5s ease;
    display: none;
}

.field.error .item{
    border-color: rgb(247, 55, 55);
    transition: .2s ease;
}

.field.error  .error-txt{
    transition: .5 ease;
    display: block;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

@media (max-width : 1000px) {
    .contalner1 .radial-bars .radial-bar .text {
        font-size: 200%;
    }
}

@media (max-width : 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width : 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .projects {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width : 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    
    .navbar.active {
        display: block;
    }

    .navbar a {
        display: flex;
        font-size: 2rem;
        margin: 3rem 0;
        
    }

  

    .social-media a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background: transparent;
        border: .2rem solid var(--main-color);
        border-radius: 50%;
        font-size: 2rem;
        color: var(--main-color);
        transition: .5s ease;
        margin: 3rem 1.5rem 3rem 0;
    }
       
    .home {
        flex-direction: column;
    }

    .home-content h3 {
        margin-top: 30%;
        font-size: 3rem;
        text-align: left;
    }
    
    .home-content p{
        text-align: left;
    }

    .home-content h1 {
        font-size: 3.5rem;
        text-align: left;
       
    }

    .home-content h2{
        text-align: left;
    }

    .home-img img {
        width: 50vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .projects h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }

 
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;

    }
}